
<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
  </head>

  <body>
    <h1>
       League player that are <%= @position_types %>
    </h1>

    <ul>
      <% @teams.each do |team,hash| %>
          <li><%= hash[@position_types]%></li>
      <% end %>
    </ul>
  </body>
</html>
